<h1> <%= @stadiums.name %> </h1> 

<p> This stadium is the home of the <%= @stadiums.team %>, it is in the <%= @stadiums.league %>, it is located at <%= @stadiums.address %>
</p>

<%= link_to "Back to index", stadiums_path %>
